.main{
   width: 393px;
   padding: 0rem 1rem;
   background-color: rgb(255, 255, 255, 57%);
}

.parent{
   width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
   
}

.parent_main{
   margin: 0rem 2.4rem;
}

/* logo started */
.logo{
   margin: 1rem 0rem;
}
/* logo ended */

/* div 1 started */
#Madarsa{
   font-size: 24px;
}
/* div 1  ended */

/* basic started */
.basic{
   font-size: 20px;
   margin-top: 3rem;
}
/* basic ended */

/* name started */
.name{
   font-size: 16px;
   margin-top: 2rem;
}
/* name ended */

/* Drop Down started*/
select{
   width: 345px;
   height: 56px;
   margin-right: 2rem;
   padding: 1rem;
   border-radius: 0.6rem;
   border: 1px solid transparent;
   box-shadow: 0px 4px 10px 0px #00000026;
   outline: none;   
   
   font-size: 14px;
   font-family: "inter";
   font-weight: 400;
}
/* Drop Down ended*/

/* option started*/
option{
   font-weight: 400;
}
/* option Down ended*/

/* input started */
input{
   width: 345px;
   height: 56px;
   margin-right: 2rem;
   padding: 1rem;
   border-radius: 0.6rem;
   border: 1px solid transparent;
   box-shadow: 0px 4px 10px 0px #00000026;   
   
   font-size: 14px;
   font-family: "inter";
   font-weight: 400;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
/* input ended */


/* btn-1 started */
.btn-1{
   width: 245px;
   height: 56px;
   border-radius: 0.7rem;
   border: 1px solid var(--bg-blue);
   background-color: var(--bg-blue);
   color: var(--bg-white);
   margin-top: 2rem;
   margin-bottom: 6rem;
}

a{
   color: var(--bg-white);
   font-size: 22px;
   font-weight: 600;
   text-decoration: none;
   font-family: 'inter';
   padding: 14px 72px;
   border-radius: 0.7rem;
}

.icon{
  
}
/* btn-1 ended */


/* btn-1 started */
.btn-2{
   width: 100px;
   height: 56px;
   font-size: 20px;
   font-weight: 600;
   border-radius: 0.7rem;
   border: 1px solid var(--bg-blue);
   background-color: var(--bg-white);
   color: var(--bg-blue);
   margin-top: 2rem;
   margin-bottom: 6rem;
}

/* btn-1 ended */


/* icon started */
.icon{
   font-size: 1.8rem;
   padding-left: 1rem;
}
/* icon ended */


/* contaienr-2 started */
.container-2{
   width: 345px !important;
   border-radius: 2rem 2rem 2rem 2rem; 
   box-shadow: 0px 4px 20px 0px #B8EDFF;
   margin: 0 auto;
   padding-bottom: 8rem;
}
/* contaienr-2 ended */

/* parent-2 started */
.parent-1 {
   padding-top: 5rem;
   
}
/* parent-2 ended */


/* para-2 started */

.para-2{
   font-size: 1.4rem;
   font-family: "inter";
   font-weight: 400;
}

.username{
   font-size: 1.6rem;
}

/* para-2 ended */


/* parent-2 started */
.parent-2{
   background-color: var(--bg-blue);
   color: var(--color-white);
   padding: 1rem 1rem;
   
   display: grid;
   grid-template-columns: repeat(3 , 1fr);
   grid-template-rows: repeat(1 , 22px);
   z-index: 1;
}
   
.Rollno{
   padding-top: 1rem;
   margin-bottom: 1rem;
}
   
.section{
   margin-bottom: 3rem;
}


.Subject{
   font-size: 1.3rem;
   font-weight: 400;
}

.Total-Number{
   gap: 2rem;
}

/* parent-2 ended */


/* parent-3 started */
.parent-3 {
   gap: 6rem;
   padding: 0.8rem 1rem;
   
   display: grid;
   grid-template-columns: repeat(3 , 1fr);
   grid-template-rows: repeat(1 , 25px);
}

.obtained{
   gap: 9rem;
}
/* parent-3 ended */


/* parent-4 started */
.parent-4{
   display: grid;
   grid-template-columns: repeat(2 , 2fr);
   grid-template-rows: repeat(1 , 22px);

   background-color: var(--bg-blue);
   color: var(--color-white);
}
/* parent-4 ended */


/* header started */
.header{
   margin-top: 3rem;
   gap: 12rem;
}
/* header ended */

/* design started */
.design{
   font-size: 1.1rem;
}
/* design ended */

/* developer started */
.Developer{
   font-size: 1.3rem;
}
/* developer ended */


/* head started */
.head{
   font-weight: 500;
   margin-top: 4rem;
}

.line-height{
   line-height: 1.2rem;
}
/* head ended */

@media (max-width: 450px) {
   .parent_main{
      padding: 0rem 15rem;
   }
}
