* {   
   margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "DM";
    font-weight: 800;
    font-style: normal;
    font-size: 62.5%;
    /* border: 1px solid black; */
 }

body{
    background-color: var(--bg-low-white);
    color: var(--bg-black);
}

@font-face {
    font-family: "inter";
    src: url(../Assets/fonts/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "DM";
    src: url(../Assets/fonts/dm-serif-display/DMSerifDisplay-Regular.ttf);
}


.inter {
    font-family: "inter";
}

.DM {
    font-family: "DM";
}



/* bg-color-started */
:root {

  --bg-blue: #0C3375;
  --bg-light-blue: #3E73CD;
  --bg-white: #ffffff;
  --bg-low-white: #FFFDFA;
  --bg-black: #000000;
  --bg-gray: #808080;
}

.bg-low-white {
  background-color: var(--bg-low-white);
}

.bg-gray {
  background-color: var(--bg-gray);
}

.bg-light-blue {
  background-color: var(--bg-light-blue);
}

.bg-blue {
  background-color: var(--bg-blue);
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-black {
  background-color: var(--bg-black);
}
/* bg-color-ended */


/* color-started */
:root {

  --color-blue: #0C3375;
  --color-light-blue: #3E73CD;
  --color-white: #ffffff;
  --color-low-white: #FFFDFA;
  --color-black: #000000;
  --color-gray: #808080;
}

.color-low-white {
  color: var(--color-low-white);
}

.color-gray {
  color: var(--color-gray);
}

.color-blue {
    color: var(--color-blue);
}

.color-light-blue {
    color: var(--color-light-blue);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}
/* color-ended */
